.bg-medagenda { background-color: #005a52 !important; }
.text-medagenda { color: #005a52 !important; }
.border-medagenda { border-color: #005a52 !important; }
.btn-medagenda { background-color: #005a52; color: white; }
.btn-medagenda:hover { background-color: #00423c; color: white; }